link {
    color: rgb(68, 150, 122)
}

link:hover {
    color: aquamarine;
}

:visited {
    color: violet;
}

a {
    text-decoration: none;
    font-size: 50px;
}

a:hover {
    text-decoration: underline;
}

* {
    font-size: 25px;
}

.cat {
    height: 50px;
    width: 100px;
}

#cat2 {
    width: 150px;
}

/* #cat2:hover {
    width: 500px;

} */

.catimage {
    position: relative;
}

.catimage img {
    transition: transform 3s ease;
}

.catimage:hover img {
    transform: translateX(5000px);
}

#cat3 {
    width: 50px;
}

#cat3{
    position:relative;
}
#cat3 img{
    transition: transgorm 3s ease;
}

#cat3:hover img{
    transform: translateX(500px)
}




#cat3:hover {
    width: 1000px;
}

h1:hover {
    color: #114581;
    border: 5px solid rgb(66, 62, 15);
    cursor: pointer;
    text-align: center;
}

h2 :hover {
    text-align: left;
    cursor: pointer;
}

/* h3:hover {
    text-align: right;
} */

h4:hover {
    cursor: alias;
    border: 5px solid #322334;

}

h4>.cat:hover {
    cursor: pointer;
    height: 500px;
    width: 800px;

}

p {
    font-weight: bold;
    font-style: italic;
    font-size: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
    color: rgb(28, 68, 28);
    text-align: center;


    border: 5px dashed #322334;
    background-color: rgb(167, 106, 236);
    text-decoration: underline;
    text-transform: uppercase;
}

ul {
    text-align: right;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    line-height: 100px;
    list-style: none;
    display: inline-block;

}


body {
    background-image: url(./img01.jpg);
    background-size: cover;
}

/* apple */