#wait {
    height: 1000px;
    background-image: url(./wait.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}

#todo {
    display: flex;
    justify-content: center;
    height: 4vh;

}

.buttonn {

    background-color: rgb(210, 218, 143);
    font-size: 18px;
    font-style: initial;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;

}

